<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset='utf-8'>
    <title>Zonas Grises</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name="description" content="frontend ong zonas grises">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <link rel='stylesheet' type='text/css' media='screen' href='css/main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/bootstrap.min.css'>
    <script src='js/main.js'></script>
</head>
<body>
    <!--ENCABEZADO-->
    <header class="encabezado" id="header">
        <nav>
            <img class="link_img" src="imgs/zona_grises.png" width="200" height="50">
            <a class="text-decoration-none" id="link" href="#">Inicio</a>
            <a class="text-decoration-none" id="link" href="#">Nosotros</a>
            <a class="text-decoration-none" id="link" href="#">Formas de ayudar</a>
            <a class="text-decoration-none" id="link" href="#">Eventos</a>
            <a class="text-decoration-none" id="link" href="#">Novedades</a>
            <button class="btn-warning" id="link_login" href="#">Login</a>
        </nav>
    </header>
    <!--SLIDER-->
    <div id="slider">
        <img src="imgs/fondo_gris.png" class="container" title="Sliders" alt="Sliders Zona Grises" width="500" height="500">
    </div>
    <div id="img_slider">
        <img src="imgs/zona_grises.png" title="Logo ONG Zona Grises" alt="Logo ONG Zona Grises" height="200" width="200">
        <p class="container">Todos podemos ayudar a alguien</p>
    </div>
    <br>
    <!--NOVEDADES-->
    <div id="">
        <div class="col-sm-2" id="novedades1">
            <img class="container" src="imgs/novedades.png" alt="Imagen Novedad" height="200" width="200">
            <h3>Reunion para nuevos y nuevas</h3>
            <p class="text-sm-left">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <button class="btn-warning link_leer_mas">Leer Más</button>
        </div>
        <div class="col-sm-2" id="novedades2">
            <img class="container" src="imgs/novedades.png" alt="Imagen Novedad" height="200" width="200">
            <h3>Reunion para nuevos y nuevas</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <button class="btn-warning link_leer_mas">Leer Más</button>
        </div>
        <div class="col-sm-2" id="novedades3">
            <img class="container" src="imgs/novedades.png" alt="Imagen Novedad" height="200" width="200">
            <h3>Reunion para nuevos y nuevas</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <button class="btn-warning link_leer_mas">Leer Más</button>
        </div>
        <div class="col-sm-2" id="novedades4">
            <img class="container" src="imgs/novedades.png" alt="Imagen Novedad" height="200" width="200">
            <h3>Reunion para nuevos y nuevas</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <button class="btn-warning link_leer_mas">Leer Más</button>
        </div>
    </div>
    <br>
    <!--CONTRIBUCIONES-->
    <div id="contribuciones">
        <div id="contribuciones_1">
            <h3 id="contribuciones_1_titulo"><b>¿Cómo nos podés ayudar?</b></h3>
            <p id="contribuciones_1_p">Tenemos diversas maneras para que puedas contribuir con nosotros</p>
        </div>
        <div class="text-sm-center" id="contribuciones_2">
            <img src="imgs/regalo.png" alt="regalos especiales" height="50" width="50">
            <h3><b>Regalos especiales</b><h3>
            <p class="parrafo_contribucion">Contamos con un proyecto que convoca </p>
            <p class="parrafo_contribucion"> regalos personalizados para todos/as </p>
            <p class="parrafo_contribucion">los/as niños/as asistidos/as </p>
            <p class="parrafo_contribucion">y sus hermanitos/as.</p>
        </div>
        <div class="text-sm-center" id="contribuciones_3">
            <img src="imgs/billetes.png" alt="Donaciones/Colectas" height="50" width="50">
            <h3><b>Donaciones/Colectas</b><h3>
            <p class="parrafo_contribucion">Llevamos a cabo durante el año cuatro </p>
            <p class="parrafo_contribucion">colectas de alimentos de elementos de </p>
            <p class="parrafo_contribucion">higiene y de ropa.</p>
        </div>
        <div class="text-sm-center" id="contribuciones_4">
            <img src="imgs/personas.png" alt="madrinaje y padrinaje" height="50" width="50">
            <h3><b>Madrinaje/Padrinaje</b><h3>
            <p class="parrafo_contribucion">Apuntamos a desarrollar </p>
            <p class="parrafo_contribucion">madrinas y padrinos que dediquen </p>
            <p class="parrafo_contribucion">tiempo al acompañamiento de </p>
            <p class="parrafo_contribucion">las familias integralmente</p>
        </div>
    </div>    
    <br>
    <!--PIE DE PAGINA-->
    <footer class="footer" id="footer">
        <div class="img_footer">
            <img class="link_img_footer" src="imgs/zona_grises.png" width="300" height="300">
        </div>

        <div class="areas">
            <h5>AREAS</h5>
            <a id="link_footer" href="#">Eventos</a>
            <a id="link_footer" href="#">Novedades</a>
        </div>
        <div class="organizacion">
            <h5>NUESTRA ORGANIZACIÓN</h5>
            <a id="link_footer" href="#">Contacto</a>
            <a id="link_footer" href="#">Nosotros</a>
            <a id="link_footer" href="#">Formas de ayudar</a>
        </div>       
        <div class="redes">
            <h5>NUESTRAS REDES</h5>
            <a id="link_footer_redes" href="#"><img src="imgs/linkedin.svg" height="30" width="30"></a>
            <a id="link_footer_redes" href="#"><img src="imgs/instagram.svg" height="30" width="30"></a>
            <a id="link_footer_redes" href="#"><img src="imgs/facebook.svg" height="30" width="30"></a>
        </div>
        <div class="volver_arriba">
            <p id="copyrights">2021 by Maximiliano Gabriel, Giuliano. All Rights Reserved</p>
            <a id="volver_arriba" href="#">Volver arriba <img src="imgs/flecha_arriba.png" width="15" height="15"></a>
        </div>
    </footer>
    <script type="text/javascript" th:href="js/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" th:href="js/popper.min.js"></script>
    <script type="text/javascript" th:href="js/bootstrap.min.js"></script>
</body>
</html>
